<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이템 목록</title>
</head>
<body>
<div th:replace="~{nav.html}"></div>
<h1>아이템 목록</h1>
<table>
    <tr>
        <th>상품명</th>
        <th>가격</th>
        <th>이미지</th>
        <th>작업</th>
    </tr>
    <th:block th:each="item : ${items}">
        <tr>
            <td>
                <a th:href="@{/item/detail/{id}(id=${item.id})}" th:text="${item.title}">상품명</a>
            </td>
            <td th:text="${item.price}"></td>
            <td><img th:src="${item.imgURL}" alt="상품 이미지" width="100"></td>
            <td>
                <form action="/item/delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" th:value="${item.id}"/>
                    <button type="submit">삭제</button>
                </form>
                <a th:href="@{/item/edit/{id}(id=${item.id})}">수정</a> <!-- 수정 버튼 추가 -->
            </td>
        </tr>
    </th:block>
</table>
<a href="/item">새 아이템 등록</a>
</body>
</html>
